/* You can add global styles to this file, and also import other style files */
// Bootstrap
@use "bootstrap/scss/bootstrap" as *;

body {
  margin: 0;
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.tab-content {
  margin-top: 25px;
}

pre {
  background: #ddd;
  border-radius: 4px;
}


